$textColor: #aaa; /* dark grey */
$category0: #ff00ff;
$category: 
#be5021, /* orange */
#9b0e0d, /* red */
#40709c, /* blue */
#ea9290, /* pink */
#784184, /* purple */
#841a19, /* burgundy */
#a0c83c, /* green */
#78b3b2, /* light blue */
#b2aa9b, /* grey */
#eebb2c; /* yellow */

 @mixin font-style{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
 }

  @mixin font-style-light{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
 }

  @mixin font-style-bar{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size:14px;
 }

body {
  @include font-style-light;
  letter-spacing: -0.1px;
  font-size: 10px;
  color: $textColor;
  width: 960px;
  margin: 1em auto;
  position: relative;
  text-align: center;
  background-color: #333;
}

h1 {
  @include font-style-light;
  letter-spacing: 1.3px;
  font-size: 30px;
  margin-top: 40px;
  color: $textColor;
  text-transform: uppercase;
}
h2 {
  letter-spacing: -0.8px;
  font-size: 21px;
  margin-top: 10px;
  color: #fff;
}
p.meta, p.footer {
  font-size: 10px;
  color: #fff;
}
p.meta {
  text-align: center;
}
/*
text.icicle {
  pointer-events: none;
}


.options {
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
}

.curves {
  float: left;
}

.source {
  float: right;
}

.dimension {
  cursor: ns-resize;
}
*/

.category {
  cursor: ew-resize;
}

/*
.dimension tspan.name {
  font-size: 10px;
  color: #aaa;
  letter-spacing: -0.2px;
  opacity: 0;
}

.dimension tspan.sort {
  fill: #aaa;
  cursor: pointer;
  opacity: 0;
}

.dimension tspan.sort:hover {
  fill: #aaa;
}

.dimension:hover tspan.name {
  fill: #aaa;
}

.dimension:hover tspan.sort {
  opacity: 1;
}
*/

.dimension line {
  stroke: rgba(0, 0, 0, 0.6);
  text-align: center;
}


.category {
   fill: #999;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 0.1px;
}

//special class
line.category-0 {
  stroke: $category0;
  stroke-width: 60px;
}

//top categories (first row accent)
$top-bars: 3;

@for $i from 1 through $top-bars{
  line.category-#{$i} { stroke: nth($category, $i);}
}

text.text-0 {
  @include font-style-bar;
}

@for $i from 1 through $top-bars{
  text.text-#{$i} { @include font-style-bar; }
}

.dimension rect {
  stroke: none;
  fill-opacity: 0;
}

.dimension > rect, .category-background {
  fill: #aaa;
}

.dimension > rect {
  display: none;
}

.category:hover rect {
  fill-opacity: .3;
}

.dimension:hover > rect {
  fill-opacity: .3;
}

.ribbon path {
  stroke-opacity: 0;
  fill-opacity: .2;
}

.ribbon path.active {
  fill-opacity: .9;
}

.ribbon-mouse path {
  fill-opacity: 0;
}

.category-0 {
  fill: $category0;
  stroke: $category0;
}

$bars: 9;
@for $i from 1 through $bars{
  .category-#{$i} { fill: nth($category, $i); stroke: nth($category, $i); }
}

.tooltip {
  @include font-style;
  font-size: 10px;
  /*color: lighten($textColor, 40%);*/
  color:#fff;
  background-color: rgba(40, 40, 40, 0.9);
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*# sourceMappingURL=d3.parsets.css.map */
